* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}
body {
    font-family: 微軟正黑體;
    overflow-x: hidden;
}
body.hide {
    overflow-y: hidden;
}
.loader-wrap-fadeout {
    opacity: 0;
}
.loader-wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(28, 28, 28);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: 1s ease-in-out;
}
.loader {
    display: inline-block;
    width: 40px;
    height: 40px;
    position: relative;
    border: 4px solid #fff;
    animation: loader 2s infinite ease;
}
.loader-inner {
    vertical-align: top;
    display: inline-block;
    width: 100%;
    background-color: #fff;
    animation: loader-inner 2s infinite ease-in;
}
.loader-txt {
    margin-left: 15px;
    color: #fff;
    font-size: 36px;
}
@keyframes loader {
    0% {
        transform: rotate(0deg);
    }
    25% {
        transform: rotate(180deg);
    }
    50% {
        transform: rotate(180deg);
    }
    75% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes loader-inner {
    0% {
        height: 0%;
    }
    25% {
        height: 100%;
    }
    50% {
        height: 100%;
    }
    75% {
        height: 100%;
    }
    100% {
        height: 0%;
    }
}
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 7;
}
.nav {
    min-width: 1200px;
    /* padding: 0 60px; */
    background-color: rgba(107, 107, 107, 0.5);
    display: flex;
    justify-content: space-around;
    box-shadow: 0 2px 1px 0px rgba(0, 0, 0, 0.5);
}
.logo {
    width: 100px;
    position: relative;
    z-index: 1;
    padding-left: 15px;
    /* background-color: #fff; */
}
.logo::before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: -10px;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
    background: linear-gradient(
        -130deg,
        rgb(194, 193, 193) 20%,
        rgb(253, 253, 253) 60%,
        rgb(247, 247, 247)
    );
    z-index: -1;
    transform: skewX(-35deg);
    box-shadow: 6px 3px 5px 3px rgba(0, 0, 0, 0.5);
}
.logo img {
    width: 100%;
    height: 100%;
    transform: translateY(10px);
}
.list-box {
    display: flex;
    position: relative;
}
.list {
    display: flex;
    align-items: center;
}
.list li {
    padding: 22px;
    position: relative;
    font-size: 0;
}
.list li a {
    font-size: 20px;
    padding: 22px 0;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
}
.list li a::before {
    content: "";
    position: absolute;
    height: 33.33%;
    width: 0;
    background-color: #ff0d0d;
    bottom: 66.66%;
    left: 0;
    z-index: -1;
    transition: all 0.5s;
    transform: skewX(35deg) translateX(-14.7px);
}
.list li::before {
    content: "";
    position: absolute;
    height: 33.33%;
    width: 0;
    background-color: #ff0d0d;
    top: 33%;
    right: 0;
    z-index: -1;
    transition: all 0.5s;
    transform: skewX(35deg);
}
.list li::after {
    content: "";
    position: absolute;
    height: 33.33%;
    width: 0;
    background-color: #ff0d0d;
    bottom: 1%;
    left: 0;
    z-index: -1;
    transition: all 0.5s;
    transform: skewX(35deg) translateX(15.3px);
}
.list li:hover a:before,
.list li:hover:before,
.list li:hover::after {
    width: 100%;
}
.login-header {
    width: 150px;
    display: flex;
    align-items: center;
}
.login-header li {
    font-size: 16px;
    text-decoration: none;
    display: inline-block;
    color: #fff;
    transition: 0.3s;
    cursor: pointer;
}
.login-header li:hover {
    color: rgb(242, 255, 59);
}
.login-header  li:focus p{
    border: 1px dashed #000;
}
#checkbox {
    display: none;
}
.login-header + label {
    display: none;
}
.list-box-rwd {
    display: none;
}
.list-wrap-rwd {
    display: none;
}
@media screen and (max-width: 1199px) {
    .nav {
        min-width: 100%;
    }
    .logo {
        width: 90px;
        margin-left: 30px;
    }
    .list li {
        padding: 20px 10px;
    }
    .list li a {
        font-size: 20px;
    }
    .login-header li a {
        font-size: 16px;
    }
    .login-header {
        width: 130px;
    }
    .list li a::before {
        transform: skewX(35deg) translateX(-15px);
    }
    .list li::after {
        transform: skewX(35deg) translateX(15px);
    }
}
@media screen and (max-width: 991px) {
    .nav {
        width: 100%;
        position: relative;
        justify-content: space-between;
        transform-style: preserve-3d;
        perspective: 75rem;
    }
    .login-header {
        display: none;
    }
    .logo {
        width: 80px;
        margin-left: 20px;
    }
    .logo::before {
        background: linear-gradient(
            -130deg,
            rgb(194, 193, 193) 15%,
            rgb(253, 253, 253) 60%,
            rgb(253, 253, 253)
        );
        z-index: -1;
        box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    }
    .logo::after {
        content: "";
        position: absolute;
        z-index: -2;
        width: 100%;
        height: 100%;
        background: rgb(253, 253, 253);
        padding: 10px 20px;
        left: -50px;
    }
    .ham {
        cursor: pointer;
        -webkit-tap-highlight-color: transparent;
        transition: transform 400ms;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
        position: absolute;
        top: 10px;
        /* background-color: #fff; */
    }

    .ham:hover {
        background-color: rgba(161, 185, 206, 0.349);
        border-radius: 40%;
        transition: 0.5s;
    }

    .hamRotate.active {
        transform: rotate(45deg);
    }
    .hamRotate180.active {
        transform: rotate(180deg);
    }
    .line {
        fill: none;
        transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
        stroke: rgb(161, 29, 29);
        stroke-width: 5.5;
        stroke-linecap: round;
    }
    .ham6 .top {
        stroke-dasharray: 40 172;
    }
    .ham6 .middle {
        stroke-dasharray: 40 111;
    }
    .ham6 .bottom {
        stroke-dasharray: 40 172;
    }
    .ham6.active-svg .top {
        stroke-dashoffset: -132px;
    }
    .ham6.active-svg .middle {
        stroke-dashoffset: -71px;
    }
    .ham6.active-svg .bottom {
        stroke-dashoffset: -132px;
    }
    .login-header + label {
        display: block;
        position: relative;
        top: -15px;
        right: 0px;
        z-index: 5;
        /* overflow: hidden; */
        width: 70px;
    }
    .list-box {
        display: none;
    }

    .opacity {
        background-color: rgb(28, 28, 28, 0.8);
        display: block;
    }
    .list-box-rwd {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100vh;
        z-index: -1;
        transition: 1s ease-in-out;
    }
    .list-wrap-rwd {
        width: 70%;
        height: 100vh;
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: rgb(247, 244, 244);
        overflow: auto;
        z-index: -1;
        transform: rotateY(-180deg);
        transform-origin: top right;
        transition: 1s cubic-bezier(0.55, 0.4, 0.55, 0.39);
    }
    .list-rotate {
        transform: rotateY(0deg);
    }
    .list-rwd > li a {
        display: block;
        padding: 15px;
        font-size: 24px;
        text-decoration: none;
        color: rgb(28, 28, 28);
        font-weight: bold;
        position: relative;
    }
    .list-rwd > li a::before {
        content: "";
        display: block;
        position: absolute;
        bottom: 5px;
        left: 15px;
        width: 45px;
        border-bottom: 3px solid rgb(197, 32, 32);
        transition: 0.5s;
    }
    .list-rwd > li:hover a::before {
        width: 95px;
    }
    .login-header-rwd {
        width: 128px;
        text-align: center;
    }
    .login-header-rwd > li {
        display: block;
        color: rgb(28, 28, 28);
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
        padding: 15px;
        position: relative;
        transition: 0.5s;
        cursor: pointer;
    }
    .login-header-rwd > li:hover {
        color: rgb(197, 32, 32);
    }
    .nav-circle {
        display: none;
    }
}
@media screen and (max-width: 575px) {
    .list-rwd > li a {
        font-size: 20px;
    }
    .login-header-rwd > li {
        font-size: 18px;
    }
    .list-rwd > li a::before {
        width: 40px;
    }
    .list-rwd > li:hover a::before {
        width: 80px;
    }
}
/*  導覽列  */
/* 登入 */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
}
input[type="number"] {
    -moz-appearance: textfield;
}
.login-move {
    display: block !important;
}
.login {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: center;
    background-color: rgb(28, 28, 28, 0.7);
    z-index: 99;
    display: none;
}
.login-wrap {
    width: 450px;
    height: 400px;
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333;
    /* transition: 1s linear; */
}
.login-close {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.login-close::before,
.login-close::after {
    content: "";
    position: absolute;
    top: 0;
    height: 30px;
}
.login-close::before {
    left: 13px;
    border-left: 3px solid green;
    transform: rotate(45deg);
}
.login-close::after {
    right: 14px;
    border-right: 3px solid green;
    transform: rotate(-45deg);
}
.login-close:hover::before {
    border-left: 3px solid red;
}
.login-close:hover::after {
    border-right: 3px solid red;
}
.login-tab {
    width: 80%;
    display: flex;
    color: #fff;
    text-align: center;
    position: relative;
}
.login-left,
.login-right {
    width: 50%;
}
.login-left h2,
.login-right h2 {
    font-size: 2rem;
    margin-bottom: 30px;
    cursor: pointer;
}
.login-bot-line {
    position: absolute;
    top: 45px;
    left: 29px;
    width: 124px;
    border-bottom: 5px solid green;
    transition: 0.5s ease-in-out;
}
.login-line {
    transform: translateX(180px);
}
.login .log {
    color: #fff;
    width: 100%;
    display: none;
}
.login .log form {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    /* border: 1px solid beige; */
}
.log .username,
.log .password {
    display: flex;
    align-items: center;
    padding: 0 5px;
    margin: 10px;
    border-bottom: 2px solid green;
}
.login .log form label {
    font-size: 1.2rem;
    margin-right: 5px;
}
.login .log form input {
    font-size: 1.6rem;
    border: none;
    background: transparent;
    padding: 5px 10px;
    color: #fff;
}
.login .log form input:focus {
    outline: none;
}
.login .log form .log-but {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
.login .log form .log-but a {
    color: #aaa;
    font-size: 20px;

    align-self: center;
}
.login .log form .log-but a:hover {
    color: rgb(84, 149, 170);
}
.login .log form .log-but button {
    width: 50%;
    border: 2px solid green;
    padding: 10px 20px;
    background: transparent;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s;
}
.login .log form .log-but button:focus {
    outline: none;
}
.login .log form .log-but button:hover {
    border: 2px solid rgb(84, 149, 170);
}
.reg {
    width: 100%;
    display: none;
    color: #fff;
}
.reg form {
    width: 100%;
}
.reg form .name-reg,
.reg form .username-reg,
.reg form .phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.reg form label {
    font-size: 20px;
}
.reg form input {
    font-size: 20px;
    padding: 5px 10px;
    color: #fff;
    background: transparent;
}
.reg form .password-reg input,
.reg form .password-reg label {
    margin-bottom: 10px;
    background: transparent;
}
.reg form input:focus,
.reg form button:focus {
    outline: none;
}
.reg form .reg-but {
    text-align: end;
    margin-top: 15px;
}
.reg form .reg-but button {
    background: transparent;
    color: #fff;
    font-size: 24px;
    padding: 5px 10px;
    border: 2px solid green;
    cursor: pointer;
    transition: 0.3s;
}
.reg form .reg-but button:hover {
    border: 2px solid rgb(84, 149, 170);
}
@media screen and (max-width: 991px) {
    .login-wrap {
        width: 400px;
        height: 350px;
    }
    .login-left h2,
    .login-right h2 {
        font-size: 30px;
    }
    .login .log form input {
        font-size: 24px;
    }
    .reg form label {
        font-size: 1rem;
    }
    .reg form input {
        font-size: 1rem;
        padding: 5px 10px;
        color: #fff;
        background: transparent;
    }
    .login-bot-line {
        top: 45px;
        left: 18px;
        border-bottom: 4px solid green;
    }
    .login-line {
        transform: translateX(160px);
    }
}
@media screen and (max-width: 575px) {
    .login-tab {
        margin-top: 5px;
        width: 80%;
        display: flex;
        justify-content: space-between;
    }
    .login-wrap {
        width: 100%;
    }
    .login-left h2.h2-bottom {
        border-bottom: 3px solid green;
    }
    .login-left h2,
    .login-right h2 {
        font-size: 24px;
        width: 100px;
        margin: 0 auto 15px;
    }

    .login-bot-line {
        display: none;
    }
    .login .log form {
        width: 100%;
    }
    .login .log form input {
        font-size: 20px;
    }
    .login .log form .log-but {
        width: 80%;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
    }
    .login .log form .log-but button {
        width: 100px;
        padding: 5px 15px;
        font-size: 20px;
    }
}

/*  footer  */

footer {
    height: 120px !important;
    background-color: rgb(28, 28, 28);
    display: flex;
    justify-content: center;
}
footer .copyright {
    text-align: center;
}
footer .copyright {
    margin-top: 10px;
    position: relative;
}
footer .copyright .footer-icon a {
    text-decoration: none;
    padding: 5px;
    display: inline-block;
    margin: 0 30px;
    position: relative;
    transition: all 1s;
}

.footer-icon a::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(80, 75, 75);
    border-radius: 20px;
    filter: blur(10px);
    opacity: 0;
    transition: all 1s 0.3s;
    z-index: 0;
}
.footer-icon a::before {
    filter: blur(20px);
    z-index: -1;
}
.footer-icon a:hover::after,
.footer-icon a:hover::before {
    opacity: 0.7;
}
footer .copyright .footer-icon a:hover i {
    opacity: 1;
    transform: scale(1.4);
}
.footer-icon a:nth-child(1):hover::after,
.footer-icon a:nth-child(1):hover::before {
    background: linear-gradient(
        135deg,
        rgb(88, 37, 117) 45%,
        rgba(155, 7, 7, 0.973) 35%,
        rgb(218, 93, 43) 20%
    );
}
footer .copyright .footer-icon a:nth-child(1):hover i {
    color: rgba(230, 9, 230, 0.5);
}
.footer-icon a:nth-child(3):hover::after,
.footer-icon a:nth-child(3):hover::before {
    background-color: rgb(218, 1, 1, 0.5);
}
.footer-icon a:nth-child(2):hover::after,
.footer-icon a:nth-child(2):hover::before {
    background-color: rgb(35, 55, 168);
}
footer .copyright .footer-icon a:nth-child(2):hover i {
    color: rgb(35, 55, 168);
}
.footer-icon a:nth-child(3):hover::after,
.footer-icon a:nth-child(3):hover::before {
    background-color: rgba(236, 9, 9, 0.705);
}
footer .copyright .footer-icon a:nth-child(3):hover i {
    color: rgb(218, 1, 1);
}
footer .copyright .footer-icon i {
    font-size: 2rem;
    text-decoration: none;
    color: rgb(255, 255, 255, 0.2);
    padding: 5px;
    transition: 0.5s;
    z-index: 2;
}
footer .copyright h4 {
    margin-top: 25px;
    font-size: 1.2rem;
    color: #777;
}
footer .copyright h4::before {
    content: "";
    position: absolute;
    display: block;
    left: 50%;
    right: 0;
    bottom: 40px;
    margin: 0 auto;
    width: 600px;
    transform: translate(-50%);
    height: 2px;
    background: linear-gradient(
        90deg,
        rgba(37, 37, 37, 0.3) 3%,
        rgb(110, 109, 109),
        rgba(37, 37, 37, 0.3) 97%
    );
}
@media screen and (max-width: 767px) {
    footer .copyright .footer-icon a {
        margin: 0 15px;
    }
    footer .copyright h4 {
        margin-top: 20px;
        font-size: 1rem;
    }
    footer .copyright h4::before {
        bottom: 50px;
        width: 500px;
    }
}
@media screen and (max-width: 575px) {
    footer .copyright h4::before {
        width: 320px;
    }
}
